{% extends 'schedule/base.html' %}
{% block title %}Reset password{% endblock %}

    {% block contents %}
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みのメールアドレスを入力して下さい。
                    パスワードリセットのリンクを記載したメールを送信します。
                </p>
                <br>
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <input type="submit" value="メールを受け取る"></input>
                </form>
                <br>
            </div>
        </div>
    </div>
    {% endblock %}